 <tr>
    <td><%= minion.nome %></td>
    <td><%= minion.descricao %></td>
    <td><%= minion.preco %></td>
    <td><%= minion.quantidade %></td>
    <td><%= link_to "Alterar", edit_minion_path(minion), class:"btn btn-default" %></td>
    <td><%= button_to "Remover", minion, method: :delete,
    class:"btn btn-danger btn-sm",
    data: {confirm: "Tem certeza que deseja remover o #{minion.nome}?"} %></td>
 </tr>           